html, body, #root {
  margin: 0;
  height: 100%;
  padding: 0;
}

.container {
  height: 950px;
  width: 100%;
  background-color: #1e1e1e;
  border: 1px solid;
  border-color: #FFFBFB;
  border-radius: 20px;
  margin-top: 83px;
  position: relative;
}

.formContainer {
  height: 650px ;
  width: 1108px ;
  background-color: #0B0909;
  border: 2px solid;
  border-color: #4B884B;
  border-radius: 15px;
  margin-top: 92px;
}

input, select {
  background-color: #1e1e1e;
  border: 1px solid;
  border-color: #4B884B;
   
}

input:focus, select:focus {
  outline: none;
  border-color: #4B884B;
}

input:hover, select:hover {
  background-color: black;
  transition: 1s;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 8px 12px; /* ajuste conforme necessário */
  border: 2px solid transparent; /* largura fixa, mas invisível */
  border-radius: 5px;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}
li:hover {
  background-color: #4b884b67;
  color: white;
  cursor: pointer;
}
